@model Subject
<div class="border border-2 border-secondary">
    <h6>Student: @Model.Name</h6>
    <p>Číslo: @Model.Id</p>
    <a class="btn btn-warning">Edit</a>
    <a class="btn btn-danger">Delete</a>
</div>

