@using SchoolWebApp1.ViewModels;
@model GradesViewModel
<form asp-action="Create" > 
    <div class="form-group">
        <label asp-for="StudentId" class="control-label" >Student:</label>
        <select asp-for="StudentId" class="form-control" asp-items="ViewBag.Students"></select>
    </div>
    <div class="form-group">
        <label asp-for="SubjectId" class="control-label">Předmět:</label>
        <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.Subjects"> </select>
    </div>
    <div class="form-group">
        <label asp-for="What">Popis:</label>
        <input type="text" asp-for="What" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mark">Známka:</label>
        <input asp-for="Mark" type="number" class="form-control" />
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Vytvořit"/>
    </div>
</form>
