@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Webová aplikace v ASP.NET Core MVC</h1>
    <p>Školní databáze pro vyučující</p>
    <p>Data se ukládají do databáze na serveru.</p>
    <p> <a href="https://stumi.eu/projects.html">NÁVRAT DO PROJEKTŮ </a></p>
</div>
